server:
  port: 8080
spring:
  ai:
    dashscope:
      api-key: ${LLM_KEY}
      chat:
        options:
          model: qwen-max
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://10.168.89.239:5432/postgres?useSSL=false&serverTimezone=Asia/Shanghai
    username: admin
    password: Zjhw@12345
    hikari:
      minimum-idle: 5                    # 最小空闲连接数
      maximum-pool-size: 15              # 最大连接数
      auto-commit: true                  # 自动提交
      idle-timeout: 30000                # 空闲连接超时时间(毫秒)
      pool-name: HikariCP                # 连接池名称
      max-lifetime: 1800000              # 连接最大生命周期(毫秒)
      connection-timeout: 30000          # 连接超时时间(毫秒)
      connection-test-query: SELECT 1    # 测试连接的SQL语句
  data:
    redis:
      host: 10.168.82.114
      port: 6379
      database: 2
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms
          time-between-eviction-runs: -1ms

mybatis:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
  type-aliases-package: com.me.entity


jwt:
  secret: qqp74374032742374hfdsfksdjfksdfsd78dsadhasnasdnasdnjkasndksankdlasdnmaskldnmaskdnkasdnmaskldl
  expiration: 86400

amqp:
  accessKey: 4qN4LITx
  password: ofrspNrdii3W887VAvCoX9IktXWdZoqa
  baseUrl: 1b177f15b8.st1.iotda-app.cn-north-4.myhuaweicloud.com
  queueName: DefaultQueue


